h1{
    text-align: center;
    border: 0in;
    color: black;
    font-family: 'Roboto', sans-serif;
font-family: 'Vollkorn', serif;
}

h2{
    font-family: 'Edu VIC WA NT Beginner', cursive;
    text-align: center;
    text-decoration: solid;
    color: black;
}

p{
    text-align: center;
    color: black;
}